@import "bootstrap";

$grayMediumLight: #eaeaea;

html {
  overflow-y: scroll;
}

body {
  padding-top: 20px;
  padding-left: 20px;
  background-color:$grayMediumLight;  
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* forms */
textarea
{
  border: 1px solid #bbb;
  width: 100%;
  padding: 5px;
  height: 100px;
  margin-bottom: 5px;
  @include box_sizing;

  resize: vertical;  
}

input, select
{
  border: 1px solid #bbb;
  width: 100%;
  padding: 5px;
  height: auto;
  margin-bottom: 5px;
  @include box_sizing;  
}

#error_explanation
{
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 5px 0;
  }
}

.field_with_errors 
{
  @extend .control-group;
  @extend .error;      
}